{% block html_head_container %}
    <script src="{{ site.theme.link }}/src/scripts/app.js" charset="utf-8"></script>
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<header class="header" id='headertransi'>
    {% block header %}
        <div class='menu-navigation'>
            <div class="menu-mobile">
                <img onclick="openNav()" id='menu' class='iconeMenu' src="{{ site.theme.link }}/dist/images/menu.png"
                     alt="">
            </div>
            <div class='menu-navigation__logo'>
                <a href="{{ site.url }}"><img src="{{ site.theme.link }}/dist/images/logo.png" alt=""></a>
            </div>
            <nav id="nav-main" class="menu-navigation__elements" role="navigation">
                <div class='menu-navigation__elements'>
                    {% include "header-menu.twig" %}

            </nav><!-- #nav -->
            <div class='menu-navigation__button'>
                {% if(home.get_field('donate_button_link_type') == 'URL') %}
                    <a href="{{ home.get_field('donate_button_link') }}"
                       class='button-donate__text'>{{ home.get_field('donate_button_message') }}</a>
                {% elseif (home.get_field('donate_button_link_type') == 'SHORTCODE') %}
                    <a href="#" class='button-donate__text'>{{ home.get_field('donate_button_link') |shortcodes}}</a>
                {% endif %}
            </div>
        </div>
        </div>

    {% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">

    {% if title %}<h1>{{ title }}</h1>{% endif %}
    <div class="wrapper {{ sidebar_class }}">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
</section>


{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
