{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<header>

    <div class="header"
    {% if header_background is defined %}
        style="background-image: url({{ header_background }})"
    {% elseif post.has_field('background_image_presentation') %}
        style="background-image: url({{ post.get_field('background_image_presentation') }})"
    {% else %}
        style="background-image: url({{ home.get_field('header_background_image') }})"
    {% endif %}
    ></div>

    {% block header %}

    <div class="navbar">
        <div class="navbar-header">
            <a href="{{ site.url }}" class="navbar-brand">
                <img class="navbar-brand-img" src="{{ home.get_field('header_logo') }}" alt="EEFA LAO">
            </a>
        </div>
        <nav class="navbar-menu">
            {% include "menu.twig" with {'items': headerMenu.get_items} %}
        </nav>
        <div class="navbar-donate">
            <a href="{{ home.get_field('donate_button_link') }}" class="donate-button">
                <span>I want to</span>
                <span class="donate-bigger">donate</span>
            </a>
        </div>
        <div class="navbar-mobile">
            <img class="navbar-toggle navbar-toggle-on" src="{{ site.theme.link }}/dist/images/menu.png" />
            <img class="navbar-toggle navbar-toggle-off" src="{{ site.theme.link }}/dist/images/cross.png" />
        </div>
    </div>
</header>

{% endblock %}

<section id="content" role="main" class="content-wrapper">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    <div class="wrapper {{ sidebar_class }}">
        {% block before_content %}{% endblock %}
        {% block content %}
            Sorry, no content
        {% endblock %}
        {% block after_content %}{% endblock %}
    </div>
</section>

{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
