{% if headerMenu %}
    <ul>

        {% for item in headerMenu.get_items %}
            {# Loop trough post which are in custom post types projects and display them after Our projects link #}
            {% if item.title == "Our Projects" %}
              <li class="{{ item.classes | join(' ') }} menu-item-has-children">
                    {# if menu item is our projects disabled link since our projects is a dropdown elements #}
                    <a href="#">{{ item.title }}</a></li>

                {% for item in projects %}

                    <ul>
                        <li class="{{ item.post_type | join(' ') }}">
                            <a href="{{ item.guid }}">{{ item.post_title }}</a></li>
                    </ul>


                {% endfor %}

            {% else %}
                <li class="{{ item.classes | join(' ') }}">
                    <a href="{{ item.get_link }}">{{ item.title }}</a></li>
            {% endif %}
            {% if item.get_children %}
                <ul>
                {% for child in item.get_children %}
                    <li class="{{ child.classes | join(' ') }}">
                        <a href="{{ child.get_link }}">{{ child.title }}</a>
                    </li>
                    {% if child.get_children %}
                        {% for childchild in child.get_children %}
                            <ul class='submenu'>
                                <li class="{{ childchild.classes | join(' ') }}">
                                    <a href="{{ childchild.get_link }}">{{ childchild.title }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
   </ul>
{% endif %}
