{% extends "base-with-header.twig" %}

{% block content %}
    <div class='container-grid'>
        <div class='presentation__text'>
            <p>{{ home.get_field('home_presentation_text') }}</p>
        </div>

        {# This part is looped trough our values acf fields #}
        <a name="whoweare"></a>
        <div class='part__text'>
            <h2>{{ home.get_field('our_values_main_title') }}</h2>
        </div>
        <div class='timeline-place'>
            <section id="timeline">
                <div class='timeline__border'></div>
                {% set i = 0 %}
                {% for item in home.get_field('values') %}
                    {% set i = i + 1 %}
                    <div class="timeline-block">
                        <div class="timeline-img">
                            <img src="{{ item.value_icon }}" alt="{{ item.value_title }}">

                        </div> <!-- cd-timeline-img -->
                        <div class="timeline-content">
                            <h2>{{ item.value_title }} <img onclick="myFunction{{ i }}()" id='myARROW{{ i }}'
                                                            class='Arrow'
                                                            src="{{ site.theme.link }}/dist/images/arrowleft.png"
                                                            alt="" style="transform: rotate(0deg);"></h2>
                            <h3>{{ item.value_subtitle }}</h3>
                            <p id='myDIV{{ i }}'>{{ item.value_description }}</p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                {% endfor %}
                <div class='timeline-end__border'></div>
            </section>
        </div>

        {# This part is from our projects acf fields #}
        <a name="project"></a>
        <div class='project'>
            <h2>{{ home.get_field('our_projects_title') }}</h2>
            <p>{{ home.get_field('our_projects_description') }}</p>
            {% for item in home.get_field('our_project_banner') %}
                <div class='project__box'>
                    <a href='{{ item.project_button_link }}'>
                        <img src="{{ item.project_banner_background }}" alt="">
                        <h2>{{ item.project_name }}</h2>
                        <div class="project__text">
                            <ul>
                                <li>
                                    <p>{{ item.project_description }}</p>
                                </li>
                                <li>
                                    <p class='viewpro'>{{ item.project_button_name }}</p>
                                </li>

                            </ul>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {# This part is looped trough our values acf fields #}
    <div class='stats-container'>
        <div class='container-grid'>
            <div class='stats-infos'>
                <h2 class="stats-title">{{ home.get_field('few_number_title') }}</h2>
                <p class="stats-desc">{{ home.get_field('few_numbers_description') }}</p>
            </div>
            <div class="stats-list">
                {% for item in home.get_field('few_numbers') %}
                    <div class="stat-item">
                        <h2 class="stat-value">{{ item.number }}</h2>
                        <h3 class="stat-label">{{ item.number_description }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class='live container-grid__live'>
        <div class='part__text help'>
            <h2>{{ home.get_field('want_to_help_us_title') }}</h2>
            <a href="{{ home.get_field('want_to_help_us_button_link') }}">
                <button type="button" name="button">{{ home.get_field('want_to_help_us_button_message') }}</button>
            </a>
        </div>

        <div class='part__text'>
            {% if(home.get_field('activate') == 'true') %}
                <h2>{{ home.get_field('live_title') }}</h2>
            {% endif %}
        </div>

        <div class='live-collection'>
            <div class="live-container container-grid__live">
                {% if(home.get_field('activate') == 'true') %}
                    {% filter shortcodes %}
                        {{ home.get_field('live_shortcode') }}
                    {% endfilter %}
                {% endif %}
            </div>

        </div>
        <div class='partners'>
            <a name="partners"></a>
            <div class='part__text'>
                <h2>{{ home.partners_title }}</h2>
            </div>
            <p>{{ home.partners_description }}</p>
            <ul>
                {% for item in home.get_field('partners') %}
                    <li class="partners_logo partners_logo_{{ loop.index }}" data-tab="{{ loop.index }}">
                        <img src="{{ item.partner_image }}" alt="{{ item.partner_name }}"
                             id="{{ item.partner_name|sanitize }}">
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="partners__info">
        <div class='container-grid__partners'>
            {% for item in home.get_field('partners') %}
                <p class='partner_text partner_text_{{ loop.index }}'>
                    {{ item.partners_description }}
                </p>
            {% endfor %}
        </div>
    </div>

    {% if(home.get_field('transparency_title')) %}
        <div class='helpustwo'>
            <div class='part__text help'>
                <img src="{{ home.get_field('transparency_logo') }}" alt="transparency logo" class='transparency-laos'>
                <h3>{{ home.get_field('transparency_title') }}</h3>
                <a href="{{ home.get_field('transparency_button_link') }}">
                    <button>{{ home.get_field('transparency_button_text') }}</button>
                </a>
            </div>
        </div>


        </div>
    {% endif %}
{% endblock %}
