{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <h2 class="article-h2 part__text">{{ post.title }}</h2>
                <p class="article-body .presentation__text">
                    {{ post.content }}
                </p>
            </section>
        </article>
        <div class="resources_section">
            {% for item in post.get_field('resources') %}
                <div class="resources_item">
                    <a href="{{ item.resources_link }}">
                        <div class="resources_item-inside">
                            <img src="{{ item.resources_background_image }}" alt="{{ item.resources_name }}">
                            <h2 class="part__text">{{ item.resources_name }}</h2>
                            <p class="viewpro">{{ item.resource_button_text }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div><!-- /content-wrapper -->

{% endblock %}