{% set contact_form = false %}

{% extends "base-with-header.twig" %}

{% block header_content %}
    {{ post.get_field('project_title') }}
    <span>{{ post.get_field('project_subtitle') }}</span>
{% endblock %}

{% block content %}
        <div class="container-grid-project">

            <div class="programs_container">

                <h2 class="programs_title">{{ post.get_field('title_donate') }}</h2>

                <div class="programs_navigation">
                    {% for item in post.get_field('donate-volunteer_category') %}
                        <a class="programs_nav_item" href="#tab-{{ loop.index }}" data-tab="{{ loop.index }}">
                            <h6 class="programs_nav_label">{{ item.category_help_us_name }}</h6>
                        </a>
                    {% endfor %}
                </div>

                <div class="programs_content">

                    {% for item in post.get_field('donate-volunteer_category') %}

                        <div class="programs_single programs_single-{{ loop.index }}">

                            <h2 class="programs_title programs_title_left">{{ item.subtitle_help_us }}</h2>

                            <div class="programs_faq">
                                {% for subcategory in item.subcategory_help_us %}
                                    <div class="programs_faq_single">
                                        <div class="programs_faq_title">
                                            {{ subcategory.title_help_us_subcategory }}
                                        </div>
                                        <div class="programs_faq_content">
                                            {{ subcategory.content_help_us_subcategory }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <h2 class="programs_title programs_title_small">{{ item.faq_title }}</h2>

                            {% filter shortcodes %}
                                {{ item.form_help_us_shortcode }}
                            {% endfilter %}

                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>

    </div>

{% endblock %}
