{% extends "base-with-header.twig" %}

{% block content %}
    <div class='container-grid'>
        <div class='presentation__text'>
            <div class='part__text teamtext'>
                <h2>{{ post.get_field('title_team') }}</h2>
            </div>
            <p>{{ post.get_field('presentation_team') }}</p>
        </div>
        <div>
            {% for item in post.get_field('team_member') %}
                <div class="team-member">
                    <img src="{{ item.image_member }}" alt="">
                    <ul class='member'>
                        <li><h2>{{ item.name_member }}</h2></li>
                        <li><h2>{{ item.fonction_member }}</h2></li>
                        <p>{{ item.presentation_member }}</p>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class='helpus'>
        <div class='part__text help'>
            <h2>{{ home.get_field('want_to_help_us_title') }}</h2>
            <a href="{{ home.get_field('want_to_help_us_button_link') }}">
                <button type="button" name="button">{{ home.get_field('want_to_help_us_button_message') }}</button>
            </a>
        </div>
    </div>
{% endblock %}
