{% extends "base-with-header.twig" %}

{% block header_content %}
    {{ post.get_field('team_title') }}
    <span>{{ post.get_field('team_subtitle') }}</span>
{% endblock %}

{% block content %}

    <div class='container-grid'>
        <div class='presentation__text'>
            <div class='part__text teamtext'>
                <img src="{{ post.get_field('logo_project') }}" alt="{{ post.get_field('project_title') }}"
                     class='img-project'>
            </div>
            <div>
                {{ post.content }}
            </div>
        </div>
        <div>
            {% for item in post.get_field('team_members') %}
                <div class="team-member">
                    <img src="{{ item.member_picture }}" alt="">
                    <ul class='member'>
                        <li><h2>{{ item.member_name }}</h2></li>
                        <p>{{ item.member_description }}</p>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}