{% extends "base-with-header.twig" %}

{% block header_content %}
    {{ post.get_field('project_title') }}
    <span>{{ post.get_field('project_subtitle') }}</span>
{% endblock %}

{% block content %}
    <div class='container-grid'>
        <div class='presentation__text'>
            <img src="{{ post.get_field('logo_project') }}" alt="{{ post.get_field('project_title') }}"
                 class='img-project'>
            <p class='project-info'>{{ post.get_field('presentation_project') }}</p>
        </div>

        <div class="programs_container">
            <h2 class="programs_title">{{ post.get_field('category_presentation') }}</h2>

            <div class="programs_navigation">
                {% for item in post.get_field('program_category') %}
                    <a class="programs_nav_item h6_hide program_nav_item_resize" href="#tab-{{ loop.index }}"
                       data-tab="{{ loop.index }}">
                        <img src="{{ item.category_icon_alt }}" alt="{{ item.category_name }}"
                             class="programs_nav_icon programs_nav_icon_default">
                        <img src="{{ item.category_icon }}" alt="{{ item.category_name }}"
                             class="programs_nav_icon programs_nav_icon_selected">
                        <h6 class="programs_nav_label">{{ item.category_name }}</h6>
                    </a>
                {% endfor %}
            </div>

            <div class="programs_content">
                {% for item in post.get_field('program_category') %}
                    <div class="programs_single programs_single-{{ loop.index }}">
                        <div class="programs_desc">
                            {{ item.category_content }}
                        </div>

                        <h2>{{ post.get_field('going_further') }}</h2>

                        <div class="programs_faq">
                            {% for subcategory in item.subcategory %}
                                <div class="programs_faq_single">
                                    <div class="programs_faq_title">
                                        {{ subcategory.title_subcategory }}
                                    </div>
                                    <div class="programs_faq_content">
                                        {{ subcategory.content_subcategory }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
