{% extends "base.twig" %}

{% block content %}
    <div class="header_background_image">
        <img src="{{ post.get_field('background_image_presentation') }}" alt="Background image presentation">
    </div>
    <div class="project_presentation">
        <h2>{{ post.get_field('project_title') }}<span>{{ post.get_field('project_subtitle') }}</span></h2>
        <img src="{{ post.get_field('logo_project') }}" alt="{{ post.get_field('project_title') }}">
        <p>{{ post.get_field('presentation_project') }}</p>
    </div>

      

    {% for item in post.get_field('program_category') %}
        <h3>{{ item.category_name }}</h3>
        <img src="{{ item.category_icon }}" alt="{{ item.category_name }}">
        <p>{{ item.category_content }}</p>
    {% endfor %}
{% endblock %}
