{% extends "base.twig" %}

{% block content %}
    <div class="header_background_image">
        <img src="{{ post.get_field('background_image_presentation') }}" alt="Background image presentation">
    </div>
    <div class="project_presentation">
        <h2>{{ post.get_field('project_title') }}</h2>
        <img src="{{ post.get_field('logo_project') }}" alt="{{ post.get_field('project_title') }}">
        <p>{{ post.get_field('presentation_project') }}</p>
    </div>

    <div class="project_award">
        <h3>{{ post.get_field('title_award') }}</h3>
        <img src="{{ post.get_field('image_award') }}" alt="{{ post.get_field('text_award') }}">
        <p>{{ post.get_field('text_award') }}</p>
    </div>
    <div class="project_process">
        <div class="project_process_overview">
            <a href="{{ post.get_field('link_button') }}">
                <button>{{ post.get_field('text_button') }}</button>
            </a>
        </div>
        {% for item in post.get_field('process') %}
            <div>
                <img src="{{ item.get_field('pictogram_process') }}" alt="{{ item.get_field('title_process') }}">
                <h4>{{ item.get_field('title_process') }}</h4>
                <h5>{{ item.get_field('subtitle_process') }}</h5>
                <p>{{ item.get_field('text_process') }}</p>
            </div>
        {% endfor %}

    </div>
    <div class="project_map">
        <h3>{{ post.get_field('title_project_map') }}</h3>
        <p>{{ post.get_field('plugin_project_map') }}</p>
    </div>
    <div class="project_volunteer">
        <div class="project_volunteer_overview">
            <h3>{{ post.get_field('title_volunteer') }}</h3>
            <a href="{{ post.get_field('button_volunteer_link') }}">
                <button>{{ post.get_field('text_button_volunteer') }}</button>
            </a>
        </div>
        <div class="project_volunteer_repeater">
            {% for item in post.get_field('volunteer') %}
                <div>
                    <img class="picture_volunteer" src="{{ item.get_field('picture_volunteer') }}"
                         alt="{{ item.get_field('name_volunteer') }}">
                    <h4 class="name_volunteer">{{ item.get_field('name_volunteer') }}</h4>
                    <p class="age_volunteer">{{ item.get_field('age_volunteer') }}</p>
                    <p class="location_volunteer">{{ item.get_field('location_volunteer') }}</p>
                    <p class="testimony_volunteer">{{ item.get_field('testimony_volunteer') }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="project_extra">
        <h3>{{ post.get_field('extra_title') }}</h3>
        <h4>{{ post.get_field('extra_subtitle') }}</h4>
        <p>{{ post.get_field('extra_presentation') }}</p>
        <img src="{{ post.get_field('extra_image') }}" alt="{{ post.get_field('extra_presentation') }}">
    </div>
    <div class="project_contact">
        <h3>{{ post.get_field('title_contact') }}</h3>
        <div>
            <h4>{{ post.get_field('phone_title') }}</h4>
            <p>{{ post.get_field('phone_content') }}</p>
        </div>
        <div>
            <h4>{{ post.get_field('email_title') }}</h4>
            <p>{{ post.get_field('email_content') }}</p>
        </div>
        <div>
            <h4>{{ post.get_field('mail_title') }}</h4>
            <p>{{ post.get_field('mail_content') }}</p>
        </div>
        <div>
            <p>{{ post.get_field('location_content') }}</p>
            <img src="{{ post.get_field('location_image') }}" alt="location_content"/>
        </div>
    </div>
    <div class="project_partners">
        <div class="project_partners_overview">
            <h3>{{ post.get_field('title_partners') }}</h3>
            <p>{{ post.get_field('partners_description') }}</p>
        </div>
        <div class="project_partners_repeater">
            {% for item in post.get_field('partners') %}
                <div>
                    <h4>{{ item.get_field('name_partner') }}</h4>
                    <p>{{ item.get_field('presentation_partner') }}</p>
                    <img src="{{ item.get_field('logo_partner') }}" alt="{{ item.get_field('presentation_partner') }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}